.login__link {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
  text-decoration: none;
}

.login__link:hover {
  opacity: 0.6;
  transition: 1s;
  cursor: pointer;
}
