@import url("./_type/popup__status-icon_type_error.css");
@import url("./_type/popup__status-icon_type_success.css");

.popup__status-icon {
  width: 120px;
  height: 120px;
  margin: 60px auto 0;
  background-repeat: no-repeat;
}
