@import url("./__link/header__link.css");
@import url("./__info/header__info.css");
@import url("./__email/header__email.css");

.header {
  width: 100%;
  padding-top: 28px;
  padding-bottom: 32px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 1024px) {
  .header {
    width: 882px;
    margin: auto;
    padding-top: 45px;
  }
}
